@media screen and (max-width: 400px) {

    // MENU DE NAVEGACION

    .nav-desk {
        display: none;
    }

    .nav-resp {
        .btn-burger {
           margin-top: -15px;
           width: 100vw;
        }
        .logo {
            position: relative;
            right: -15px;
            top: 10px;
        }
    }

    main {
        overflow: hidden;
    }

    // SERIES

    .series-desk {
        display: none;
    }

    .series-destacadas-desk {
        display: none;
    }

    .carousel__container {
        margin: 0 auto;
    }

    .carousel__title {
        font-size: 23px;
    }

    // PELICULAS

    .content {
        margin-top: 125px;
    }

    .pelis-destacadas-desk {
        display: none;
    }
    .pelis-desk {
        display: none;
    }
    .title-pelis {
        font-size: 17px;
    }

    // FORMULARIOS

    .form__container {
        width: 70%;
        height: 80%;
        margin-bottom: 50px;
        background-color: #fff;
        border-radius: 7%;
    }

    .form__item {
        border-radius: 5%;
        width: 600px;
        height: 100%;
        background-color: #fff;
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                width: 60vw;
                margin-right: 20px;
            }
            button {
                position: relative;
                right: 15px;
            }
        }                
    }    
}

@media screen and (min-width: 401px) and (max-width: 599px) {

         // MENU DE NAVEGACION

        .nav-desk {
            display: none;
        }

        .nav-resp {
            .btn-burger {
               margin-top: -15px;
               width: 100vw;
            }
            .logo {
                position: relative;
                right: -15px;
                top: 10px;
            }
        }

        main {
            overflow: hidden;
        }

        // SERIES

        .series-desk {
            display: none;
        }
    
        .series-destacadas-desk {
            display: none;
        }
    
        .carousel__container {
            margin: 0 auto;
            width: 80vw;
        }

        .carousel__item {
            margin: 0 auto;
        }
    
        .carousel__title {
            font-size: 23px;
        }

        .btn-all {
            margin-top: -40px;
        }
    
        // PELICULAS

        .content {
            margin-top: 125px;
        }
    
        .pelis-destacadas-desk {
            display: none;
        }
        .pelis-desk {
            display: none;
        }

        // FORMULARIOS

        .form__container {
            width: 65vw;
            height: 100%;
            margin-bottom: 50px;
            background-color: #fff;
            border-radius: 7%;
        }

        .form__item {
            border-radius: 5%;
            width: 600px;
            height: 100%;
            background-color: #fff;
            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                p {
                    width: 60vw;
                }
                button {
                    position: relative;
                    right: 15px;
                }
            }                
        }
}

@media screen and (min-width: 600px) and (max-width: 990px) {

         // MENU DE NAVEGACION

            .nav-desk {
                display: none;
            }

            .nav-resp {
                .btn-burger {
                   margin-top: -15px;
                   width: 100vw;
                }
                .logo {
                    position: relative;
                    right: -15px;
                    top: 10px;
                }
            }

            main {
                overflow: hidden;
            }

            // SERIES

            .series-desk {
                display: none;
            }
        
            .series-destacadas-desk {
                display: none;
            }
        
            .carousel__container {
                margin: 0 auto;
                width: 95vw;
            }
    
            .carousel__item {
                margin: 0 auto;
            }
        
            .carousel__title {
                font-size: 23px;
            }
    
            .btn-all {
                margin-top: -40px;
            }

            .columna1 {
                img {
                    margin-left: 120px;
                }
            }
        
            // PELICULAS

            .content {
                margin-top: 125px;
            }
        
            .pelis-destacadas-desk {
                display: none;
            }
            .pelis-desk {
                display: none;
            }

            // FORMULARIOS

            .form__container {
                width: 65vw;
                height: 100%;
                margin-bottom: 50px;
                background-color: #fff;
                border-radius: 7%;
            }

            .form__item {
                border-radius: 5%;
                width: 600px;
                height: 100%;
                background-color: #fff;
                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    p {
                        width: 60vw;
                    }
                    button {
                        position: relative;
                        right: 15px;
                    }
                }                
            }
}

@media screen and (min-width: 991px) {

    .nav-resp {
        display: none;
    }

    header {
        .intro {
            position: relative;
            left: 15px;
        }
        .intro2 {
            position: relative;
            left: 15px;
        }
        .btn-burger {
            position: relative;
            left: 150px
        }
    }

    .btn-pelis {
        position: relative;
        left: 90px;
        a {
            padding: 10px 2px;
        }
    }

    .content {
        margin-top: 125px;
    }

    .btn-pelis {
        position: relative;
        right: 100px;
    }

    .series-desk {
        display: none;
    }

    .series-destacadas-resp {
        display: none;
    }

    .pelis-desk {
        display: none;
    }

    .pelis-destacadas-resp {
        display: none;
    }

     // FORMULARIOS

    .form__container {
        width: 300px;
        height: 100%;
        margin-bottom: 50px;
    }
    
    .form__item {
        background-color: #fff;
        border-radius: 7%;
        form {
            width: 35vw;
        }
    }
}